@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(74, 114, 255, 0.3);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #4A72FF;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    z-index: 1;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s;
    transition: box-shadow 0.3s;
}

header.scroll {
    background-color: transparent;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.15);
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
}

.nav-desktop {
    display: flex;
    gap: 60px;
}

.header-container nav a {
    text-decoration: none;
    color: #0C1B4D;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.3s;
}

.header-container nav a:hover {
    color: #4A72FF;
    transform: scale(1.1);
}

.active {
    color: #4A72FF !important;
    transform: scale(1.1);
}

.button-download {
    text-decoration: none;
    padding: 10px 25px;
    background-color: #4A72FF;
    border-radius: 6px;
    color: #F4F7FF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    box-shadow: 0 20px 60px rgba(74, 114, 255, 0.50);
    transition: 0.3s;
}

.button-download:hover {
    transform: scale(1.1);
}

.header-container input {
    display: none;
}

.header-container input:checked ~ label .hamburguer1 {
    transform: rotate(135deg);
    top: 18px;
    right: 5px;
}

.header-container input:checked ~ label .hamburguer2 {
    transform: rotate(135deg);
    top: 18px;
    right: 12px;
    opacity: 0;
}

.header-container input:checked ~ label .hamburguer3 {
    transform: rotate(225deg);
    bottom: 19px;
    right: 5px;
}

.header-container input:checked ~ label .hamburguer4 {
    transform: rotate(225deg);
    bottom: 19px;
    right: 12px;
    opacity: 0;
}

.header-container label {
    display: none;
}

.mobile-menu {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: relative;
    z-index: 1001;
}

.hamburguer1 {
    width: 30px;
    height: 3px;
    background-color: #4A72FF;
    position: absolute;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
    top: 5px;
}

.hamburguer2 {
    width: 16px;
    height: 3px;
    background-color: #0C1B4D;
    position: absolute;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
    top: 14px;
}

.hamburguer3 {
    width: 30px;
    height: 3px;
    background-color: #4A72FF;
    position: absolute;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
    bottom: 14px;
}

.hamburguer4 {
    width: 16px;
    height: 3px;
    background-color: #0C1B4D;
    position: absolute;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
    bottom: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    z-index: 1000;
    transition: 0.3s;
    gap: 75px;
}

.header-container input:checked ~ .overlay {
    right: 0;
}

.nav-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

.nav-mobile a {
    font-size: 24px !important;
}

.button-download-mobile {
    text-decoration: none;
    padding: 15px 55px;
    background-color: #4A72FF;
    border-radius: 6px;
    color: #F4F7FF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
    box-shadow: 0 20px 60px rgba(74, 114, 255, 0.50);
    transition: 0.3s;
}

#inicio {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    background-color: #EEF2FF;
}

.text-section1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    visibility: hidden;
}

.text-section1 h3 {
    color: #4A72FF;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.text-section1 h1 {
    color: #0C1B4D;
    font-size: 34px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.text-section1 p {
    color: rgba(12, 27, 77, 0.6);
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}

.buttons-section1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.button1 {
    text-decoration: none;
    padding: 15px 45px;
    background-color: #4A72FF;
    border-radius: 6px;
    color: #F4F7FF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0 20px 60px rgba(74, 114, 255, 0.50);
    transition: 0.3s;
}

.button1 img {
    vertical-align: -20%;
    padding-left: 10px;
}

.button1:hover {
    transform: scale(1.1);
}

.button2 {
    text-decoration: none;
    padding: 15px 45px;
    background-color: rgba(74, 114, 255, 0.1);
    border-radius: 6px;
    color: #4A72FF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}

.button2:hover {
    transform: scale(1.1);
}    

.informations-section1 {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 75px;
}

.downloads, .users {
    display: flex;
    align-items: start;
    gap: 20px;
}

.downloads h4, .users h4 {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: rgba(12, 27, 77, 0.6);
    font-weight: 500;
    margin-bottom: 10px;
}

.downloads p, .users p {
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    color: #0C1B4D;
    font-weight: 700;
}

.img-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.img-section1 img {
    width: 700px;
    animation-name: animacao;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes animacao {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEF2FF;
    padding: 50px 10% 0 10%;
    width: 100%;
}

.notices {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(74, 114, 255, 0.05);
    height: 150px;
    border-radius: 15px;
    margin-bottom: 100px;
}

.cnn {
    filter: saturate(0);
    opacity: 0.3;
    transition: 0.3s;
}

.cnn:hover {
    filter: saturate(1);
    opacity: 1;
}

.tirto {
    filter: saturate(0);
    opacity: 0.3;
    transition: 0.3s;
}

.tirto:hover {
    filter: saturate(1);
    opacity: 1;
}

.forbes {
    filter: saturate(0);
    opacity: 0.3;
    transition: 0.3s;
}

.forbes:hover {
    filter: saturate(1);
    opacity: 1;
}

.google {
    filter: saturate(0);
    opacity: 0.3;
    transition: 0.3s;
}

.google:hover {
    filter: saturate(1);
    opacity: 1;
}

.tnyt {
    filter: saturate(0);
    opacity: 0.3;
    transition: 0.3s;
}

.tnyt:hover {
    filter: saturate(1);
    opacity: 1;
}

.text-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.text-section2 h3 {
    color: #4A72FF;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}

.text-section2 h2 {
    color: #0C1B4D;
    font-size: 28px;
    font-weight: bolder;
    padding-bottom: 10px;
    text-align: center;
}

.text-section2 p {
    color: rgba(12, 27, 77, 0.6);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
}

.cards-section2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: end;
}

.card-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 22%;
}

.card-section2 h4 {
    font-size: 18px;
    color: #0C1B4D;
    font-weight: bolder;
    text-align: center;
}

.card-section2 p {
    color: rgba(12, 27, 77, 0.6);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    text-align: center;
}

#tecnologia {
    display: flex;
    padding: 150px 10% 0 10%;
    justify-content: space-between;
    background-color: #EEF2FF;
    align-items: center;
}

.img-section3 {
    display: flex;
    justify-content: center;
    width: 50%;
    animation-name: animacao;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.img-section3 img {
    width: 500px;
}

.text-section3 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.text-section3 h3 {
    color: #4A72FF;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.text-section3 h2 {
    color: #0C1B4D;
    font-size: 28px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.text-section3 p {
    color: rgba(12, 27, 77, 0.6);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}

.item {
    display: flex;
    align-items: start;
    gap: 25px;
}

.square-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 27, 77, 0.1);
    padding: 15px;
    border-radius: 6px;
}

.data-item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-item1 h4 {
    font-size: 18px;
    color: #0C1B4D;
    font-weight: bolder;
    padding-bottom: 10px;
}

#download {
    display: flex;
    background-color: #EEF2FF;
    padding: 175px 10% 0 10%;
    justify-content: center;
    align-items: center;
}

.central-container-section4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4A72FF;
    box-shadow: 0 20px 60px rgba(74, 114, 255, 0.50);
    border-radius: 20px;
    width: 100%;
}

.text-section4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 0 0 0 13%;
}

.text-section4 h3 {
    color: #FFD39F;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.text-section4 h2 {
    color: white;
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: 500;
}

.text-section4 p {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    padding-bottom: 5px;
}

.buttons-to-download {
    display: flex;
    gap: 50px;
    margin-top: 75px;
}

.img-section4 {
    display: flex;
    justify-content: center;
    width: 50%;
}

#faq {
    display: flex;
    background-color: #EEF2FF;
    flex-direction: column;
    align-items: center;
    padding: 150px 10% 100px 10%;
}

.text-section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text-section5 h3 {
    color: #4A72FF;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.text-section5 h2 {
    color: #0C1B4D;
    font-size: 28px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.text-section5 p {
    color: rgba(12, 27, 77, 0.6);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}

.faq {
    width: 900px;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 0 0;
    padding: 25px;
    width: 100%;
    transition: 0.3s;
}

.question h3 {
    color: #0C1B4D;
    font-size: 20px;
    transition: 0.3s;
    font-weight: 500;
}

.question i {
    color: #0C1B4D;
    font-size: 30px;
    transition: 0.3s;
}

.answer {
    background-color: #4A72FF;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 20px 60px rgba(74, 114, 255, 0.50);
    transition: 0.5s;
    width: 100%;
    max-height: 0;
    overflow: hidden;
}

.answer p {
    color: #F4F7FF;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 25px;
}

.faq.show .question {
    background-color: #4A72FF;
    border-radius: 10px 10px 0 0;
    margin-top: 15px;
    border-bottom: 1px solid #7d97dd;
}

.faq.show .question h3 {
    color: #F4F7FF;
}

.faq.show .question i {
    color: #F4F7FF;
    transform: rotate(180deg);
}

.faq.show .answer {
    max-height: 200px;
}

footer {
    display: flex;
    padding: 50px 10%;
    background-color: rgba(74, 114, 255, 0.2);
    justify-content: space-between;
}

.company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.33%;
}

.logotype {
    display: flex;
    align-items: center;
    gap: 10px;
}

.company p {
    color: rgba(12, 27, 77, 0.6);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.company h3 {
    color: #0C1B4D;
}

.company h6 {
    color: rgba(12, 27, 77, 0.6);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    align-items: center;
    text-align: center;
}

.menu-footer h3 {
    color: #0C1B4D;
    padding-bottom: 20px;
}

.menu-footer nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-footer nav a {
    text-decoration: none;
    color: rgba(12, 27, 77, 0.6);
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.3s;
}

.menu-footer nav a:hover {
    color: #4A72FF;
}

.social-icons {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    align-items: end;
}

.social-icons h3 {
    color: #0C1B4D;
    padding-bottom: 20px;
}

.social-icons p {
    color: rgba(12, 27, 77, 0.6);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: end;
}

.social-icons nav {
    display: flex;
    gap: 20px;
}

.social-icons nav i {
    font-size: 22px;
    color: rgba(12, 27, 77, 0.6);
    transition: 0.3s;
}

.social-icons nav i:hover {
    color: #4A72FF;
}

@media (max-width: 1070px) {

    .logo {
        width: 50px;
    }

    .header-container nav a {
        font-size: 14px;
    }

    .button-download {
        padding: 10px 25px;
    }
    
    .text-section1 h1 {
        font-size: 26px;
    }

    .text-section1 p {
        font-size: 14px;
    }

    .button1, .button2 {
        font-size: 16px;
        padding: 10px 30px;
    }

    .informations-section1 {
        gap: 40px;
    }

    .informations-section1 h4 {
        font-size: 12px;
    }
    
    .img-section1 img {
        width: 450px;
    }

    .img-section3 img {
        width: 400px;
    }

    .text-section4 {
        padding: 5%;
    }

    .faq {
        width: 100%;
    }

    .buttons-to-download {
        gap: 10px;
    }

}

@media (max-width: 850px) {

    .nav-desktop, .button-download {
        display: none;
    }

    .header-container label {
        display: block;
    }

    #inicio {
        flex-direction: column;
        justify-content: center;
        padding-top: 350px;
    }

    .text-section1 {
        align-items: center;
        width: 100%;
    }

    .text-section1 h3 {
        text-align: center;
    }

    .text-section1 h1 {
        text-align: center;
    }

    .text-section1 p {
        text-align: center;
    }

    .informations-section1 {
        margin-top: 25px;
    }

    .img-section1 {
        margin-top: 20px;
    }

    .notices {
        margin-top: 200px;
        flex-direction: column;
        gap: 75px;
        height: auto;
        padding: 50px 0;
        margin-bottom: 50px;
    }

    .text-section2 {
        margin-bottom: 20px;
    }

    .cards-section2 {
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 50px;
    }

    .card-section2 {
        width: 100%;
    }

    #tecnologia {
        flex-direction: column;
    }

    .img-section3 {
        width: 100%;
    }

    .text-section3 {
        width: 100%;
    }

    #download {
        padding: 75px 10% 0 10%;
        background-color: #4A72FF;
    }

    .central-container-section4 {
        flex-direction: column;
        background-color: transparent;
        border-radius: 0;
        gap: 25px;
        box-shadow: none;
    }

    .text-section4 {
        width: 100%;
        padding: 0;
    }

    .buttons-to-download {
        margin-top: 50px;
        width: 100%;
        justify-content: space-around;
        gap: 0;
    }

    footer {
        flex-direction: column;
    }

    .company {
        width: 100%;
        gap: 20px;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .menu-footer {
        width: 100%;
        align-items: center;
        padding: 25px 0 25px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .menu-footer nav {
        align-items: center;
    }

    .social-icons {
        width: 100%;
        align-items: center;
        padding-top: 25px;
    }

}

@media (max-width: 500px) {

    .img-section1 img {
        width: 400px;
    }

}

@media (max-width: 400px) {

    .buttons-section1 {
        flex-direction: column;
        width: 100%;
    }
    
    .img-section1 img {
        width: 350px;
    }

    .img-section3 img {
        width: 350px;
    }

    .buttons-to-download {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

}

@media (max-width: 350px) {

    .img-section1 img {
        width: 320px;
    }

    .img-section3 img {
        width: 320px;
    }

    .img-section4 img {
        width: 320px;
    }

    .social-icons p {
        text-align: center;
    }

}
